<div class="navbar">
    <div class="navbar-header">
        NoteKeeping
    </div>

    <form id="searchForm" class="nav-search">
        <div class="nav-container">
          <input class="search-box" type="text" placeholder="Search Notes" >
          <!-- <button ng-show="isFocused && textValue.length > 0" ng-click="cleanText()">X</button> -->
        </div>
      </form>
    <div >
        <ul class="nav-links">
            <li class="nav-element">
                <a class="nav-element"
                routerLinkActive = "active"
                [routerLinkActiveOptions] = "{exact:true}">Welcome Aditi</a>
            </li>
        </ul>
    </div>

</div>
<hr>
